<footer>
    
    
    <div class="row">
        <h1>GreenGusto</h1>
        <div class="col-3">
            <ul>
                <li><a class="button btn btn-success" href="">home</a></li>
                <li><a class="button btn btn-success" href="">Enquire</a></li>
                <li><a class="button btn btn-success" href="">About</a></li>
                <li><a class="button btn btn-success" href="">Promises</a></li>
                <li><a class="button btn btn-success" href="">Environment</a></li>
                <li><a class="button btn btn-success" href="">Contact</a></li>

            </ul>
        </div>
        <div class="col-9">
            <div class="icon mt-5">
                <i class="fa-brands fa-twitter"></i>
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-github"></i>
                <i class="fa-brands fa-linkedin"></i>
                <i class="fa-brands fa-youtube"></i>
            </div>
            <div class="FooterBox">
                <p>Get the fresh news Here!!!</p>
                <form class="d-flex" role="search">
                    <input style="width: 250px;" class="form-control me-2" type="search" placeholder="Your email here" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Subscribe</button>
                  </form>
            </div>

            <div>
                <small style="letter-spacing: .1em; margin-top: 40px; ">Website Terms | Privacy Policy | Accessibility Statement | Product Details</small>
            <p style="margin-left: 100px;">contents right @ aarunraj261@gmail.com</p>
            </div>
        </div>
       
    </div>
</footer>