<div class="dboard">
<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        
      <div class="carousel-item active">
        
        <img src="https://i.pinimg.com/1200x/8e/eb/44/8eeb4468c65428ef5bfc4a4a63877817.jpg" class="d-block w-100" position="relative" alt="...">
      
    </div>
    <div class="carousel-caption  ">
        <h1>Welcome {{user}}</h1>
    </div>
    
      <div class="carousel-item">
        <img src="https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/p-433-lukestackpoole-cosy-hut-k.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=ee06fac51209b3cdd051fa074ec3187d" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://cdn.wallpapersafari.com/25/46/Jh5Xn2.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <section class="dContent">
    <h1>Welcome to the <span style="color: green;">GREEN</span> Team</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo, nulla impedit, ullam recusandae maxime ut iure voluptas delectus cumque 
    iusto facilis omnis tempora? Ab quia laudantium illo ad quo? Reprehenderit!</p>
    <a class="btn btn-success" href="dashboard">GET ME TO THE STORE</a>
  </section>

  </div>