<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
            <a class="navbar-brand" href="#"><h1 style="color: rgb(21, 179, 21);">GreenGusto</h1></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
         
          <li class="nav-item">
            <a class="nav-link" href="#sec2">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#sec3">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#sec5">Graphs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#sec6">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="login">login
                <i class="fa-solid fa-right-to-bracket"></i>
            </a>
          </li>
        
        </ul>
      </div>
    </div>
  </nav>