.container{
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: space-between;
flex-direction: row;
flex-wrap: wrap;

   
}
.card{
    
    display: flex;
    justify-content: space-between;
flex-direction: row;
flex-wrap: wrap;
margin-top: 20px;

}
.card-img-top{
    
    height: 300px;
}