<section class="banner1" id="sec1">
    <div class="header">
        <div class="head">
            <h1>Stay <span>Green</span><br> and Be Seen</h1>
            <p>"Adopt the pace of nature. Her secret is patience." –Ralph Waldo Emerson
            </p>
            <a class="btn btn-success" routerLink="login">EXPLORE</a>

        </div>
        <div class="image">
            <img src="https://img.freepik.com/premium-photo/abstract-double-exposure-watercolor-green-flower-digital-illustration_742252-4951.jpg?w=740"
                alt="">
        </div>
    </div>
</section>

<section class="banner2" id="sec2">
    <div class="about">
        <div class="aboutContent">
            <h1>About Us</h1>
            <hr>
            <small>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsum veniam,
                fuga architecto, quaerat deserunt aliquam
                laboriosam et id debitis nesciunt porro quae natus provident repudiandae
                in beatae esse vitae ab!</small>


            <div class="list mt-5">
                <h5>features</h5>
                <ul>
                    <li>Lorem ipsum dolor, sit amet consectetur adipisicing eli</li>
                    <li>Lorem ipsum dolor, sit amet consectetur adipisicing eli</li>
                    <li>Lorem ipsum dolor, sit amet consectetur adipisicing eli</li>
                    <li>Lorem ipsum dolor, sit amet consectetur adipisicing eli</li>
                </ul>
            </div>

            <div class="aboutQuote">
                <h1>Think <span>Green</span></h1>
            </div>
        </div>


        <div class="image2">
            <img src="https://img.freepik.com/premium-photo/abstract-double-exposure-watercolor-green-flower-digital-illustration_742252-4954.jpg?w=740"
                alt="">
        </div>
    </div>
</section>

<section class="banner3" id="sec3">
    <div class="card-container">
        <div class="image-container">
            <img src="https://us.123rf.com/450wm/artrachen/artrachen1807/artrachen180700294/105512835-plant-seedlings-in-nature-plant-a-tree-green-fresh-natural-background.jpg?ver=6"
                alt="">

        </div>
        <a class="btn btn-success mt-3 mb-3" routerLink="login">EXPLORE</a>
    </div>

    <div class="card-container">
        <div class="image-container">
            <img src="https://us.123rf.com/450wm/arc7/arc71503/arc7150300005/37933097-hand-holding-plant.jpg?ver=6"
                alt="">

        </div>
        <a class="btn btn-success mt-3 mb-3"routerLink="login">EXPLORE</a>

    </div>
    <div class="card-container">
        <div class="image-container">
            <img src="https://admin.risingkashmir.com/Source/News/userfiles/image/s_637755928357949949_smngoz7kq6no6kt6g.e8410aeb.jpg"
                alt="">

        </div>
        <a class="btn btn-success mt-3 mb-3" routerLink="login">EXPLORE</a>

    </div>

</section>

<section class="banner4" id="sec4">
    <div class="promise">
        <img src="https://img.freepik.com/premium-vector/go-green-day_92916-73.jpg" alt="">
    </div>
    <div class="promiseQuote mt-5">
        <h1>Our <span style="font-weight: 1000; font-size: 40px;">Promise</span></h1>
        <hr>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus vel, quo accusantium
            saepe modi illum dolor, tempora consequatur nulla cupiditate rerum,
            iure eos atque. Eligendi quaerat recusandae voluptatem nihil est?</p>

        <p class="mt-5">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cum, unde ducimus quis cumque iusto suscipit ipsa,
            soluta voluptatem consequuntur similique sequi hic.
            Cupiditate maiores deserunt quo suscipit aut voluptatibus animi!
        </p>

        <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cum, unde ducimus quis cumque iusto suscipit ipsa,
            soluta voluptatem consequuntur similique sequi hic.
            Cupiditate maiores deserunt quo suscipit aut voluptatibus animi!
        </p>
    </div>


</section>

<section class="banner5" id="sec5">

    <div class="chart">
        <div class="row">
            <h2>Graphical Presentation</h2>
            <hr>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos voluptatibus laborum mollitia est incidunt
                hic quo, architecto repellat alias facilis perferendis doloribus cumque laboriosam nostrum aliquam
                voluptatum a aperiam assumenda?</p>

            <div class="chartImg col-6">
                <div style="text-align: center;">
                    <h5>nature desrtuction data over years</h5>
                    <small>@nature conservation org</small>
                </div>

                <img style="width: 100%; " class="mt-4"
                    src="https://www.mdpi.com/geosciences/geosciences-08-00165/article_deploy/html/images/geosciences-08-00165-g001.png"
                    alt="">
            </div>
            <div class="chartImg col-6">
                <div style="text-align: center;">
                    <h5>Dummy data</h5>
                    <small>@nature conservation org</small>
                </div>
                <img style="width: 100%; "
                    src="https://media1.shmoop.com/images/physics/nos/physicsbook_nos_graphik_2.png" alt="">
            </div>

        </div>
    </div>

</section>

<section class="banner6" id="sec6">
    <div class="row">
        <div class="contactQuote col-5">
            <h1>Walk away from the mean team and join the <span style="font-weight: bolder; ">GREEN</span> team.</h1>
        </div>
        <div class="ContactForm col-7">
            
            <form action="">
                <h1>Contact :</h1>
                <input class="cForm form-control" type="text" placeholder="Name">
                
                  <input class="cForm form-control" type="text" placeholder="phone">
                
                  <input class="cForm form-control" type="text" placeholder="Email">
              
                  <input class="Comments form-control" type="text" placeholder="Comments">
               
                  <a class="btn btn-success mt-3 mb-3" href="">SEND</a>
            </form>
        </div>
    </div>
</section>